*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 100px;

  &::after {
    content: '';
    display: block;
    background: linear-gradient(90deg,#D5247B,#F09F4D);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 278px;
  }
}

html, body {
  background-color: #fafafa;
}

.tether-element {
  z-index: 3;
}

.github-button {
  visibility: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.social {
  display: block;
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 24px;

  a {
    color: inherit;
    text-decoration: none;

    + a {
      margin-left: 10px;
    }
  }

  .icon {
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }

}

header {
  font-size: 45px;
  color: #fff;
  padding: 80px 10px 25px;
  text-align: center;
  z-index: 1;
  position: relative;
  font-weight: 800;
  letter-spacing: 4px;
  line-height: 1.1;
}

.container {
  max-width: 875px;
  margin: auto;
  z-index: 1;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 20px -9px #333;
  background-color: #fff;
  padding: 30px;
}

.demo {
  margin: 30px 0;

  h3 {
    margin-bottom: 12px;
  }
}

section {
  > h1 {
    position: relative;
    margin-bottom: 35px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 40px;
      top: 100%;
      border: 2px solid #cb72fa;
      margin-top: 8px;
    }
  }
}

.powerselect:focus {
  border-color: orange;
}

.flag {
  width: 20px;
  height: 13px;
  margin-right: 8px;
}

.code {
  float: right;
  font-size: 11px;
  color: #666;
  letter-spacing: 2px;
  margin-top: 4px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.quick-create {
  padding: 8px 12px;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  color: #3260b7;
  background-color: #e5ebf6;

  &:hover {
    color: #0039a6;
  }
}

.spinner {
  text-align: center;
  padding: 10px;
  font-size: 13px;
  color: #bbb;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #888;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-left: 5px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.Section {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eaeaea;
}

.Section__Demo {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.styled-background {
  background-color: rgba(255, 255, 0, 0.3);
}

@media (max-width: 875px) {
  .container {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .header {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .Section__Demo {
    width: 100%;
    float: none;
  }
}

.TaggedInput {
  .PowerSelect__TriggerStatus {
    visibility: hidden;
  }
}
