.power-select {
  width: 300px;
  height: 34px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;

  &.open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
  }
}

.trigger {
  height: 100%;
  padding: 4px 12px;
}

.power-select-menu {
  min-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;

  .option {
    cursor: pointer;
    padding: 4px 12px;

    &:hover, &.highlighted {
      background-color: #f6f6f6;
    }
  }
}

.before-options {
  padding: 8px 12px;
}

.after-options {
  padding: 8px 12px;
  background-color: rgba(195, 195, 195, 0.23);
  color: #337ab7;
  cursor: pointer;
}
