.power-select {
  height: 34px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;

  &.open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
  }
}

.trigger {
  height: 100%;
  padding: 4px 12px;
}

.power-select-menu {
  background-color: #fff;
  border: 1px solid #ccc;

  .option {
    cursor: pointer;
    padding: 4px 12px;

    &:hover, &.highlighted {
      background-color: #f6f6f6;
    }
  }
}

.before-options {
  padding: 8px 12px;
}

.power-select-placeholder {
  color: #aaa;
}


.typeahead--trigger {
  display: block;
  width: 100%;
  border: none;
}
