.powerselect {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;

  &:focus {
    outline: none;
  }
}

.powerselect--focused {
  border-color: #66afe9;
}

.powerselect--disabled {
  background-color: #eee;
  cursor: not-allowed;

  .powerselect__trigger-input {
    background-color: #eee;
  }
}

.powerselect--open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;

  .powerselect__trigger-status {
    transform: rotate(-180deg);
  }
}

.powerselect__trigger {
  position: relative;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.powerselect__menu {
  background-color: #fff;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
  }
}

.powerselect__options {
  max-height: 238px;
  overflow: auto;
}

.powerselect__option {
  cursor: pointer;
  padding: 8px 12px;

  &:hover {
    background-color: #fbfbfb;
  }

  &.powerselect__option--highlighted {
    background-color: #f1f1f1;
  }
}

.powerselect__before-options {
  padding: 8px 12px;
}

.powerselect__placeholder {
  color: #aaa;
}

.powerselect__search-input-container {
  padding: 8px;
}

.powerselect__search-input {
  display: block;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  line-height: 1.4;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    border-color: #66afe9;
    outline: none;
  }
}

.powerselect__trigger-input {
  display: block;
  height: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 4px 22px 4px 12px;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.powerselect__trigger-label {
  display: block;
  line-height: 24px;
  height: 100%;
  padding: 5px 22px 5px 12px;
}

.powerselect__trigger-status {
  border-top: 4px solid #ccc;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  right: 8px;
  top: 50%;
}


// MultiSelect
.powerselectmultiple__selectedOptions {
  list-style: none;
  padding-left: 0;
  padding-right: 22px;
  display: inline-block;

  > li {
    display: inline-block;
  }
}

.powerselectmultiple__selectedOption {
  margin: 4px 0px 4px 4px;
  background-color: #ebeeff;
  border: 1px solid #c6cfff;
}

.powerselectmultiple__selectedOption__label {
  padding: 2px 6px;
  display: inline-block;
  vertical-align: middle;
}

.powerselectmultiple__selectedOption__close {
  padding: 2px 6px;
  border-left: 1px solid #c6cfff;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    background-color: #dce1ff;
  }
}

.powerselect-multiple {
  .powerselect__trigger {
    white-space: normal;
    height: auto;
    min-height: 34px;
  }

  .powerselect__trigger-input {
    display: inline-block;
    width: auto;
    padding: 0;
    height: 34px;
    margin-left: 4px;
  }
}
